{%- from "zammad/map.jinja" import config with context %}
version: "3"

services:
  {%- if config.local_backups == 'true' %}
  zammad-backup:
    command: ["zammad-backup"]
    depends_on:
      - zammad-railsserver
    entrypoint: /usr/local/bin/backup.sh
    environment:
      - BACKUP_SLEEP=86400
      - HOLD_DAYS=10
    env_file:
      - {{ config.location }}/.env
    image: {{ config.postgres.image }}
    networks:
      - backend
    restart: {{ config.restart }}
    volumes:
      - zammad-backup:/var/tmp/zammad
      - zammad-data:/opt/zammad
  {%- endif %}

  {%- if config.elasticsearch.enabled == 'true' %}
  zammad-elasticsearch:
    env_file:
      - {{ config.location }}/.env
    environment:
      - discovery.type=single-node
    image: {{ config.elasticsearch.image }}
    restart: {{ config.restart }}
    networks:
      - backend
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
  {%- endif %}

  zammad-init:
    command: ["zammad-init"]
    {%- if config.postgres.enabled == 'true' %}
    depends_on:
      - zammad-postgresql
    {%- endif %}
    env_file:
      - {{ config.location }}/.env
    image: {{ config.image }}
    networks:
      - backend
    restart: on-failure
    volumes:
      - zammad-data:/opt/zammad

  {%- if config.memcache.enabled == 'true' %}
  zammad-memcached:
    command: memcached -m {{ config.memcache.mem }}
    env_file:
      - {{ config.location }}/.env
    image: {{ config.memcache.image }}
    restart: {{ config.restart }}
    networks:
      - backend
  {%- endif %}

  {%- if config.memcache.enabled == 'true' %}
  zammad-nginx:
    image: {{ config.nginx.image }}
    command: ["zammad-nginx"]
    ports:
      - "{{ config.port }}:80"
    depends_on:
      - zammad-railsserver
    image: {{ config.image }}
    networks:
      - frontend
    restart: {{ config.restart }}
    volumes:
      - zammad-data:/opt/zammad
  {%- endif %}

  {%- if config.postgres.enabled == 'true' %}
  zammad-postgresql:
    image: {{ config.postgres.image }}
    restart: {{ config.restart }}
    env_file:
      - {{ config.location }}/.env
    networks:
      - backend
    volumes:
      - postgresql-data:/var/lib/postgresql/data
  {%- endif %}

  zammad-railsserver:
    command: ["zammad-railsserver"]
    image: {{ config.image }}
    restart: {{ config.restart }}
    networks:
      - frontend
      - backend
    volumes:
      - zammad-data:/opt/zammad

  zammad-scheduler:
    command: ["zammad-scheduler"]
    depends_on:
      - zammad-railsserver
    image: {{ config.image }}
    networks:
      - backend
    restart: {{ config.restart }}
    volumes:
      - zammad-data:/opt/zammad

  zammad-websocket:
    command: ["zammad-websocket"]
    depends_on:
      - zammad-railsserver
    image: {{ config.image }}
    networks:
      - frontend
      - backend
    restart: {{ config.restart }}
    volumes:
      - zammad-data:/opt/zammad

volumes:
  {%- if config.elasticsearch.enabled == 'true' %}
  elasticsearch-data:
    driver: local
  {%- endif %}
  {%- if config.postgres.enabled == 'true' %}
  postgresql-data:
    driver: local
  {%- endif %}
  {%- if config.local_backups == 'true' %}
  zammad-backup:
    driver: local
  {%- endif %}
  zammad-data:
    driver: local

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge
