{%- from "zammad/map.jinja" import config with context %}
version: "3"

services:
#  zammad-backup:
#    command: ["zammad-backup"]
#    depends_on:
#      - zammad-railsserver
#    entrypoint: /usr/local/bin/backup.sh
#    environment:
#      - BACKUP_SLEEP=86400
#      - HOLD_DAYS=10
#      - POSTGRESQL_USER=${POSTGRES_USER}
#      - POSTGRESQL_PASSWORD=${POSTGRES_PASS}
#    image: ${IMAGE_REPO}:zammad-postgresql${VERSION}
#    networks:
#      - backend
#    restart: ${RESTART}
#    volumes:
#      - zammad-backup:/var/tmp/zammad
#      - zammad-data:/opt/zammad

  zammad-elasticsearch:
    env_file:
      - {{ config.location }}/.env
    environment:
      - discovery.type=single-node
    image: {{ config.elasticsearch.image }}
    restart: {{ config.restart }}
    networks:
      - backend
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data

  zammad-init:
    command: ["zammad-init"]
    depends_on:
      - zammad-postgresql
    env_file:
      - {{ config.location }}/.env     
    image: {{ config.image }}
    networks:
      - backend
    restart: on-failure
    volumes:
      - zammad-data:/opt/zammad

  zammad-memcached:
    command: memcached -m 128M
    image: memcached:1.5.22-alpine
    restart: {{ config.restart }}
    networks:
      - backend

  zammad-nginx:
    command: ["zammad-nginx"]
    ports:
      - "{{ config.port }}:80"
    depends_on:
      - zammad-railsserver
    image: {{ config.image }}
    networks:
      - frontend
    restart: {{ config.restart }}
    volumes:
      - zammad-data:/opt/zammad

{%- if config.get('env', {}).get('POSTGRESQL_HOST', 'zammad-postgresql') == 'zammad-postgresql' %}
  zammad-postgresql:
    image: {{ config.postgres.image }}
    restart: {{ config.restart }}
    env_file:
      - {{ config.location }}/.env
    networks:
      - backend
    volumes:
      - postgresql-data:/var/lib/postgresql/data
{%- endif %}

  zammad-railsserver:
    command: ["zammad-railsserver"]
    depends_on:
      - zammad-memcached
      - zammad-postgresql
    image: {{ config.image }}
    restart: {{ config.restart }}
    networks:
      - frontend
      - backend
    volumes:
      - zammad-data:/opt/zammad

  zammad-scheduler:
    command: ["zammad-scheduler"]
    depends_on:
      - zammad-memcached
      - zammad-railsserver
    image: {{ config.image }}
    networks:
      - backend
    restart: {{ config.restart }}
    volumes:
      - zammad-data:/opt/zammad

  zammad-websocket:
    command: ["zammad-websocket"]
    depends_on:
      - zammad-memcached
      - zammad-railsserver
    image: {{ config.image }}
    networks:
      - frontend
      - backend
    restart: {{ config.restart }}
    volumes:
      - zammad-data:/opt/zammad

volumes:
  elasticsearch-data:
    driver: local
  postgresql-data:
    driver: local
  zammad-backup:
    driver: local
  zammad-data:
    driver: local

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge
